*,
*::before,
*::after {
    --fondo-rosado: #FFC0CB;
    --contenedor-general: #FFE4E1;
    --boton-enviar: #FF69B4;
    --boton-limpiar: #FFB6C1;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #FFF0F5;
}


.encabezado, .pie-de-pagina {
    background-color: var(--fondo-rosado);
    text-align: center;
    padding: 1em 0;
    color: #4B0082; 
    font-weight: bold;
    text-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
    & h1 {
        font-size: 40px;
    }
    & h3 {
        font-size: 24px;
    }
}

.contenido-general {
    display: flex;
    background-color: var(--contenedor-general);
}


.seccion-libros {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.marco-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y: auto;
    position: relative;
    height: 100%;
    align-self: flex-start;
    margin-top: 0.1em;
}

.marco-fluor {
    position: relative;
    padding: 10px;
    border: 2px solid #ffc0cb;
    box-shadow: 0 0 10px #ffc0cb, 0 0 20px #ffc0cb, 0 0 30px #ffc0cb;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 220px;
    margin: 15px;
}

.imagen-libro {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 70%;
    border-radius: 10px;
}

.titulo-libro {
    margin-top: 5px;
    color: #4B0082;
    font-size: 0.9em;
}

.genero {
    margin-top: 10px;
    color: #8A2BE2;  
    font-size: 0.8em;
}


.eliminar {
    background-color: transparent;
    border: none;
}

.icono-papelera {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icono-papelera img {
    width: 24px;
    height: 24px;
}

.icono-papelera img:hover {
    transform: scale(1.3);
    transition: .5s;
}


.seccion-formulario {
    width: 35%;
    align-self: flex-start;
}

.titulo-formulario {
    font-size: 25px;
    color: #4B0082;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.formulario-agregar-libro {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-libro::placeholder {
    font-size: 15px;
    margin-bottom: 0.5em;
}

.input-libro {
    width: 100%;
    height: 40px;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

/*Personalización de los botones*/
.botones-libro {
    display: flex;
    height: auto;
    gap: 1em;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.boton-enviar,
.boton-limpiar {
    cursor: pointer;
    transition: transform 0.5s ease-out;
    text-align: center;
    width: 30%;
    margin: 1em;
    border-style: none;
    box-shadow: -.2em -.2em .4em black;
    border-radius: 5px;
    font-size: 0.9em;
    height: 2em;
}



.boton-enviar {
    background-color: var(--boton-enviar);
    color: white;
    font-weight: bold;
}

.boton-enviar:hover {
    transform: scale(1.1);
}



.boton-limpiar {
    background-color: var(--boton-limpiar);
    color: white;
    font-weight: bold;
}

.boton-limpiar:hover {
    transform: scale(1.1);
}


.pie-de-pagina {
    & h1 {
        font-size: 1.8em;
    }
    & h3 {
        font-size:1em;
    }
}

.copyright {
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: #4B0082; 
}

@media (max-width: 768px) {
    .encabezado,
    .pie-de-pagina {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        & h1 {
            font-size: 2em;
        }
        & h3 {
            font-size: 1em;
        }
    }
    .contenido-general {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .seccion-libros, .seccion-formulario {
        margin-right: auto;
        margin-left: auto;
        flex-wrap: wrap;
        flex: 1;
    }
    .seccion-formulario {
        margin-bottom: 20px;
        width: 100%;
    }

    .seccion-libros {
        width: 100%;
        justify-content: center;
        align-self: center;
    }}